
.carrito{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}

.cartProductos {
    min-height: 100vh;
}

.carrito h3, h4 {
    margin-bottom: 10px;
}

.carrito button {
    text-decoration: none;
    width: 150px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background: #039be5;
    color: #ffffff;
    border-radius: 15px;
}

.btnFinalizar {
    margin-left: 10px;
}

.cartVacio {
    width: 70%;
    padding: 20px 0;
    margin: 0 auto;
    min-height: 100vh;    
}

.cartMensaje {
    margin-bottom: 15px;
}

.cartVacio button {
    text-decoration: none;
    width: 250px;
    padding: 10px 25px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background: #039be5;
    color: #ffffff;
    border-radius: 15px;
}

