
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.itemDetalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    font-family: 'Nunito', sans-serif;
    
  }
  