@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
    min-height: 10vh;
    font-family: 'Nunito', sans-serif;
    
}

.footer p{
    font-size: 15px;
    color: white;
}

.redesSociales a img {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin: 0.5rem;   
}

.autor{
    margin-left: 20px;
}